body {
    margin: 0px;
    width: 100%;
    font-size: 12px;
    background-color: #87CEFA;
    font-family: "思源黑体";
}

.myimg {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* 导航栏 */
#header {
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: #8470FF;
}

#ul_1 {
    list-style: none;
    color: #A4A3A1;
    font-size: x-large;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.li_1 {
    position: relative;
    float: left;
    width: 14.28%;
}

.a_1 {
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    background: #E8E7E3;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
    font-family: "思源黑体";
    font-size: 19px;
    color: #8C8C8B;
    text-decoration: none;
}

.a_1:hover {
    color: #d5d4d0;
    background: linear-gradient(to right, #FA8072, #F4A460, yellow, #9ACD32, #87CEEB, #6A5ACD, violet);
    text-decoration: none;
}

#current {
    background-color: rgb(207, 207, 207);
}
#login{
    position: absolute;
    right: 10px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url(../images/15.png);
    background-size: contain;
}

#dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0px;
    padding-top: 50px;
    text-align: center;
}

#dropdown a {
    display: none;
    background-color: #87CEEB;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-decoration: none;
    border: #E8E7E3 1px solid;
    color: white;
}

#dropdown:hover a {
    display: block;
    background-color: #E8E7E3;
}

#dropdown a:hover {
    background-color: #87CEFA;
}

/* 内容块 */
#content {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 120px 0px 120px;
    overflow: hidden;
    background-color: #FDFCF8;
}

.lbimg {
    width: 320px;
}

/* 标题 */
#banner {
    padding-top: 50px;
    width: 100%;
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: black;
}

/* 彩色边框 */
.myborder {

    border-left: 10px solid;
    border-right: 10px solid;
    border-bottom: 10px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;

}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

/* 游戏展示 */

#lb1 {
    background-color: black;
    color: #00f2f2;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

#ul_2 {
    display: flex;
    justify-content: center;
}

.goods {
    position: relative;
    height: 100%;

}

.goods:hover .weimu {
    display: block;
    height: 100%;
}

.goods:hover .weimu p {
    display: block;
    animation-name: down;
    height: 100%;
}

.weimu {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 0%;
    background-color: white;
    width: 100%;
    z-index: 100;
    transition: height;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.weimu p {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes down {
    0% {

        top: 0px;
    }

    100% {

        top: 45%;
    }
}
/* 五星好评 */
#hotgames2 {
    background-color: #F4A460;
    width: 100%;
    padding-bottom: 37px;
}

#lb2 {
    background-color: black;
    color: #00f2f2;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px;
}

#ul_3 {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
#ul_3 li{
    list-style: none;
}

#rank1 {
    animation-name: stob;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#rank2 {
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-name: ltor;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#rank2:hover {
    transform: scale(1.1, 1.1);
}

#rank3 {
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-name: rtol;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#rank3:hover {
    transform: scale(1.1, 1.1);
}

@keyframes ltor {
    0% {
        left: 0px;
    }

    100% {
        left: 125px;
    }
}

@keyframes rtol {
    0% {
        right: 0px;
    }

    100% {
        right: 125px;
    }
}

@keyframes stob {
    0% {
        transform: scale(0.9, 0.9);
    }

    100% {
        transform: scale(1.2, 1.2);
    }
}

#lb3 {
    background-color: black;
    color: #00f2f2;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px;
}

#lb3 a {
    color: #00f2f2;
}

/* 排行榜 */
#paihang {
    display: flex;
    position: relative;
    width: 100%;
}

#paihang img {
    display: block;
    width: 50%;

}

#lb4 {
    position: absolute;
    color: rgb(27, 192, 214);
    font-size: 80px;
    font-weight: 700;
    z-index: 10;
    top: 40px;
    left: 20px;
}

#ul_paihang {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#ul_paihang li {
    list-style: none;
    width: 100%;
    background-image: linear-gradient(to bottom right, #4c55ca, #e02929);
    border-bottom: #8C8C8B 2px solid;
}

#ul_paihang a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    color: rgb(190, 188, 188);
}

#saomiao {
    position: absolute;
    width: 100px;
    background-color: rgb(51, 255, 0);
    opacity: 0.2;
    height: 100%;
    animation-name: saomiao;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes saomiao {
    0% {
        left: 0px;
    }

    100% {
        left: 50%;
    }
}

#first {
    position: relative;
    font-size: 80px;
    color: yellow;
    font-weight: 500;
}

#first:hover .ltor {
    width: 100%;
}

#second {
    position: relative;
    font-size: 60px;
    color: rgb(218, 218, 207);
    font-weight: 500;
}

#second:hover .ltor {
    width: 100%;
}

#third {
    position: relative;
    font-size: 50px;
    color: rgb(207, 159, 71);
    font-weight: 500;
}

#third:hover .ltor {
    width: 100%;
}

#forth {
    position: relative;
    font-size: 40px;
    color: black;
    font-weight: 500;
}

#forth:hover .ltor {
    width: 100%;
}

#fifth {
    position: relative;
    font-size: 32px;
    color: black;
    font-weight: 500;
}

#fifth:hover .ltor {
    width: 100%;
}

.ltor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 0%;
    height: 100%;
    background-color: rgb(243, 10, 10);
    z-index: 101;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


/* bottom */
.div_12 {
    margin: 0;
    width: 100%;
    background-color: #1b1b1b;
}

.div_15 {
    width: 100%;
    height: 84px;
    font-size: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100%;
    line-height: 20px;
    padding: 0;
}

.div_15 p {
    display: block;
    width: 100%;
    text-align: center;
    color: #CCCCCC;
}

.div_15 p:hover {
    color: #0078F2;
}


.div_12 ul {
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
    padding: 0;
    list-style-type: none;
    margin-left: 65px;
}

.div_12 ul li {
    width: 100%;
    height: auto;
    margin-left: 10px;
    display: inline;
}

.div_12 ul li a {
    width: 100%;
    transition-duration: 0.2s;
    text-align: center;
    text-decoration: none;
    color: #E7E7E7;
    font-size: 17px;
}

.div_12 ul li a:hover {
    font-size: 20px;
    color: #0078F2;
}

a {
    color: black;
}